.recorder-selection-container,
.recorder-actions-container {
    margin-bottom: 16px;
}
/*
.settings-separator {
    margin: 11.25px 0;
}*/

.recorder-settings-heading {
    margin-bottom: 11.25px;
    /*color: var(--text-accent);*/
    color: rgb(67, 132, 216);
}

.confirm-modal .modal {
    width: auto;
    max-width: 80vw;
    min-width: 300px;
    margin: 0 auto;
}

.confirm-modal .modal-content {
    display: flex;
    flex-direction: column;
}

.confirm-modal .confirm-message {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.confirm-modal .confirm-cancel-buttons button {
    flex: 1;
    max-width: 48%;
}

.confirm-modal .confirm-cancel-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding-top: 20px;
    width: 100%;
    gap: 16px;
    flex-direction: row-reverse;
}

.wordflow-setting-tab .wordflow-multiline-setting {
    display: block;
}

.wordflow-setting-tab .wordflow-info {
    margin-right: 0;
    margin-bottom: 8px;
}

.wordflow-setting-tab .wordflow-textarea {
    min-width: -webkit-fill-available;
    min-height: 80px;
}

.wordflow-custom-container .setting-item {
    border-top: none;
    padding-top: 0;
}

.wordflow-custom-container .setting-item:first-child {
    border-top: 1px solid var(--background-modifier-border);
    padding-top: 12px;
}


.wordflow-sortby-container .setting-item:first-child {
    border-top: 1px solid var(--background-modifier-border);
    padding-top: 12px;
}

.wordflow-mtime-format-container .setting-item:first-child {
    border-top: 1px solid var(--background-modifier-border);
    padding-top: 12px;
}